* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

body {
  background: rgb(243, 240, 240);
}

/*Header Design*/
#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 47, 73);
  padding: 5px;
  color: aliceblue;
}

#header div {
  font-size: 2rem;
  padding-right: 20px;
  padding-left: 20px;
}

#highscores:hover {
  background-color: salmon;
  color: white;
  border-radius: 5px;
}

/*Quiz Section Design*/
section {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

#startnext {
  width: inherit;
  overflow: hidden;
}

#quizarea {
  background: snow;
  width: 600px;
  max-width: 60%;
  border-radius: 5px;
  flex-wrap: wrap;
}

#quizcontent {
  padding: 5px;
}

/*show and hide*/
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/*Question Content Styling*/
#questionarea {
  background: snow;
  width: 600px;
  max-width: 60%;
  border-radius: 5px;
  flex-wrap: wrap;
}

#questioncontent {
  width: inherit;
  position: relative;
}

#questioncontent h2 {
  height: 3rem;
  padding: 5px;
  padding-bottom: 3rem;
  font-size: 2rem;
  color: rgb(39, 47, 73);
}

#questioncontent p {
  border: salmon solid 1px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  font-size: 1.5rem;
  height: 2rem;
  box-sizing: content-box;
}

#questioncontent p:hover {
  background-color: salmon;
  opacity: 0.75;
  transition: 0.2s;
  color: white;
}

.btn {
  padding-top: 3rem;
  color: snow;
  font-size: 2rem;
  overflow: hidden;
  background-color: rgb(39, 47, 73);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: salmon;
  transition: 0.2s;
  color: white;
}

h2 {
  height: 3rem;
  padding: 5px;
  padding-bottom: 3rem;
  font-size: 2rem;
  color: rgb(39, 47, 73);
}

#gameScore{
    font-size: 4rem;
}

#feedback {
  font-size: 2rem;
}

#placeholder{
  color:rgb(39, 47, 73); ;
}

#ranking{
  font-size: 1.5rem;
}